/* app css stylesheet */

.ng-scope {
	width: 800px;
	margin: 0 auto;
}

.data {
	padding-top: 40px;
}

h1 {
	text-align: center;
}

table.ng-scope {
	
	width: 100%;
}

table.ng-scope tbody td:nth-child(n+2){
	text-align: right;
}