<h1>Kurs walut :)</h1>

<div class="data">
	by name: <input type="text" data-ng-model="elementName"/>
	<table class="table table-hover">
		<thead>
		<tr>
			<th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Waluta</a></th>
			<th><a href="" ng-click="predicate = '-buy'; reverse=false">Kupno</a></th>
			<th><a href="" ng-click="predicate = 'sell'; reverse=false">Sprzedaż</a></th>
			<th><a href="" ng-click="predicate = 'percent'; reverse=!reverse">Procent</a></th>
		</tr>
		</thead>
		<tr ng-repeat="item in currency | filter:{name:elementName} | orderBy:predicate:reverse" ng-class="id_{{item.id}}">
			<td>{{item.name}}</td>
			<td>{{item.buy}}</td>
			<td>{{item.sell}}</td>
			<td>{{item.percent}}%</td>
		</tr>
	</table>
</div>

<h1>Tablica (socket)</h1>

	<span>{{remaining()}} z {{todos.length}} listy TODO</span>
      [ <a href="" ng-click="remove()">usuń</a> ]
      <ul>
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done" ng-change="change()">
          <span>{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="add()">
        <input type="text" ng-model="todoText"  size="30">
        <input class="btn-primary" type="submit" value="add">
      </form>